@import "../../variables.scss";

.GamePhaseSelectAnswer {
    @include container;

    &__instructions {
        @include instruction;
    }

    &__answers {
        @include answerGrid;
    }

    &__correctAnswerInstructions {
        @include instruction;
        text-align: center;
        margin-top: $gutter;
    }

    &__correctAnswers {
        @include answerGrid;
        width: 80%;
        padding: $gutter;

        .message {
            min-width: 30vw;
        }
    }

    &__answer {
        height: 100%;
    }
}
