@import "../../variables.scss";

.GamePhaseSelectAnswer {
    @include container;

    &__instructions {
        @include instruction;
        color: #fff;
    }

    &__form {
        width: 500px !important;
    }

    &__answers {
        @include answerGrid;
    }

    &__answer {
        height: 100%;
    }
}
