@import "../../variables.scss";

.GamePhaseSelectAnswer {
    @include container;

    &__instructions {
        @include instruction;
    }

    &__form {
        width: 500px !important;
    }

    &__answers {
        @include answerGrid;
    }

    &__correctAnswerInstructions {
        @include instruction;
    }

    &__correctAnswers {
        .message {
            min-width: 30vw;
        }
    }

    &__answer {
        height: 100%;
    }
}
