@import "../../variables.scss";

.GamePhaseWriteAnswers {
    @include container;
    background-color: #f2711c;

    &__correctAnswer {
        @include instruction;
        color: #fff;
    }

    &__instructions {
        @include instruction;
        color: #fff;
    }

    &__form {
        .field {
            width: 500px !important;

            > label {
                color: #fff !important;
            }
        }
    }
}
