@import "../../variables.scss";

.GamePhaseReveal {
    @include container;

    &__instructions {
        @include instruction;
        margin-top: $gutter;
    }

    &__answers {
        @include answerGrid;
    }

    &__accept {
        margin: $gutter 0;
    }

    &__correctAnswers {
        @include answerGrid;

        > div {
            margin: 0 !important;
        }
    }

    &__correctAnswerInstructions {
        @include instruction;
        margin-top: $gutter;
    }
}
